.card {
  background-color: rgb(228, 139, 228);
  padding: 30px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 10px black;
}
input { padding: 10px; 
  font-size: 16px; 
  border-radius: 6px; 
  border: 1px solid #ccc; 
}


.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button {
  background-color: #4caf50;
  color: black;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 6px solid black;
  cursor: pointer;
}

.error {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
.booksession{
  color: black;
  font-weight: bold;
}
