.form label {
  font-weight: bold;
  color: #333;
}

.form input {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button:hover {
  background-color: #45a049;
}

.sidebar {
  width: 200px;
  background-color: #f1f1f1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100vh;
  box-shadow: 2px 0 6px rgba(0,0,0,0.1);
}


.searchBar {
  width: 100%;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 14px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(234, 194, 234);
  color: #333;
}

.app {
  display: flex;
}

.main-content {
  flex: 1;
  padding: 30px;
  min-height: 100vh;
  background-color: rgb(221, 180, 221);
}