.main-container {
  height: 100vh;
}
.container {
  margin: 50px auto;

  background-color: #ffffff;
  border-radius: 15px;
  width: 400px;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.toggle-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.toggle-buttons button {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: #e0e0e0;
  color: #333;
  border-radius: 8px;
  transition: all 0.3s ease;
  margin: 0 5px;
}

.toggle-buttons button.active {
  background: #4f20bd;
  color: #fff;
  transform: scale(1.05);
}

form {
  text-align: left;
  display: block;
  animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: 500;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: 0.3s;
}

input:focus {
  border-color: #4f20bd;
  outline: none;
  box-shadow: 0 0 5px rgba(79, 32, 189, 0.4);
}

.submit-btn {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #4f20bd;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.submit-btn:hover {
  background-color: #3b1792;
  transform: translateY(-2px);
}

@media (max-width: 480px) {
  .container {
    width: 90%;
    padding: 20px;
  }

  .toggle-buttons button {
    font-size: 14px;
    padding: 8px;
  }
}
