.card {
  background: rgb(255, 255, 255);
  border-radius: 12px;
  padding: 20px;
  max-width: 1000px;
  height: 300px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.sessionCard {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: #b5deba;
  border-radius: 10px;
  height: 200px;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 12px;
}

h2 {
  color: #111211;
  margin-bottom: 15px;
}

.dashboardTitle {
  color: black;
  font-weight: bold;
  margin-bottom: 15px;
}
